<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Name</label>
    <input name="name" type="text" id="name"/>

    <br/>

    <label for="lastName">Last Name</label>
    <input name="lastName" type="text" id="lastName"/>

    <br/>

    <label for="age">Age</label>
    <input name="age" type="text" id="age"/>

    <br/>

    <label for="email">Email</label>
    <input name="email" type="text" id="email"/>

    <br/>

    <label for="password">Password</label>
    <input name="password" type="text" id="password"/>

    <br/>

    <label for="roles">Roles</label>
    <select multiple id="roles" th:field="*{roles}">
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:text="${role.name}">
        </option>
    </select>

    <br/>

    <input type="submit" value="Create!"/>

</form>
</body>
</html>